<!DOCTYPE html>
<html xmlns:th="https:///www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Footer</title>
</head>
<body>
    <div th:fragment="footer">
        <footer>
            <h2>Contáctanos y comienza tu próxima aventura</h2>
            <p>Estamos aquí para ayudarte a planificar el viaje de tus sueños. Ponte en contacto con nosotros y déjanos hacer realidad tus deseos de explorar nuevos destinos y vivir emocionantes aventuras. ¡Tu próxima gran aventura está a solo un mensaje de distancia!</p>
            <ul>
                <li></li>
            </ul>
        </footer>
    </div>
</body>
</html>