<!DOCTYPE html>
<html xmlns:th="https:///www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Nuevo Punto de Interes</title>
</head>
<body>
    <div th:replace="app/components/navbar :: navbar"></div>
    <div class="content">
        <div class="access">
            <div class="left">
                <div class="form-wrapper">
                    <div class="contact-heading">
                        <h1>Punto Turistico</h1>
                        <p></p>
                    </div>
                    <form class="form" th:object="${point}" th:action="@{/points/new}" enctype="multipart/form-data" method="post">
                        <div class="input-wrap">
                            <label>Nombre</label>
                            <label>
                                <input class="input" th:field="*{name}" type="text" required>
                            </label>
                        </div>
                        <div class="input-wrap">
                            <label>Descripcion</label>
                            <label>
                                <input class="input" th:field="*{description}" type="text" required>
                            </label>
                        </div>
                        <div class="input-wrap">
                            <label>Fotografia</label>
                            <input class="form-control" type="file" name="file" accept="image/png, image/jpeg, image/gif, image/x-png, image/jpg"
                                onchange="loadFile(event)">
                            <img id="output" style="width:150px; padding:3px" alt="" src="">
                        </div>
                        <div class="input-wrap">
                            <label>Direccion</label>
                            <label>
                                <input class="input" th:field="*{locate}" type="text" required>
                            </label>
                        </div>
                        <div class="input-wrap">
                            <label>Tipo</label>
                            <label>
                                <select class="select" th:field="*{type}" required>
                                    <option th:value="Traking">Senderismo</option>
                                    <option th:value="Others">Otros</option>
                                </select>
                            </label>
                        </div>
                        <div class="input-wrap">
                            <button type="submit">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right">
    
            </div>
        </div>
    </div>
</body>
</html>